nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-default {
    background-color: white;
}

.navbar {
    top: 0;
    position: fixed;
    min-height: 70px;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;
    overflow: visible;
}

nav .container-fluid {
    position: relative;
    display: block;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 80px;
    padding-left: 80px;
}

.container-fluid::after, .container-fluid::before {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

header {
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: 0;
    max-width: 960px;
    min-height: 70px;
    border-bottom: #cccccc;
}

header h1 {
    width: 200px;
    display: inline-block;
    text-align: center;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    line-height: 70px;
    padding: 20px 20px;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0;
    top: 0;
}

ul li {
    position: relative;
    display: inline-block;
}

ul {
    content: "";
    clear: both;
    display: table;
    list-style-type: none;
    float: right;
}

ul li>a {
    position: relative;
    display: block;
    color: #777777;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

li a.about, a.port {
    border-right: 1px solid #cccccc;
}

.container {
    background-color: #ffffff;
    position: relative;
    overflow: auto;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px 20px;
    border: 3px solid #dddddd;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p.clearfix::after {
    content: "";
    clear: both;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: normal;
    word-wrap: break-word;
}

#profile {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

.PIMG {
    width: 300px;
    height: 200px;
    margin: 20px;
    float: left;
}

footer {
    padding: 14px 16px;
    background-color: #666666;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #777777;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    margin-top: -50;
    z-index: 999;
}