
#profile {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

.PIMG {
    width: 300px;
    height: 200px;
    margin: 20px;
    float: left;
}

.ImgContainer {
    position: relative;
    display: inline-block;
}

.TXT {
    position: absolute;
    z-index: 998;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 60%;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 20px;
    width: 76.5%;
}

.name, .email, textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width:100%;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 25%;
}

@media screen and (max-width: 768px) {

    .TXT {
        width: 76.8%;
    }

    .ImgContainer {
        width: 40%;
    }

    .PIMG {
        width: 76%;
        height: 76%;
    }
}

@media screen and (max-width: 640px) {
    .ImgContainer {
        width: 300px;
    }

    .PIMG {
        width: 300px;
        height: 300px; 
    }

    .TXT {
        width: 300px;
    }
}